<div class="container">
    <h4>Order History</h4>
    <div class="order-history-container">
        <% orders.forEach(order => { %>
            <div class="order-history">
                <div class="row history-detail mx-auto">
                    <div class="col-md-5">
                        <p>Order ID:
                            <%= order._id %>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p>Order Date:
                            <%= order.date.toString(); %>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>Order Status:
                            <%= order.status %>
                        </p>
                    </div>

                </div>
                <% for(let i=0; i < order.products.length; i++){ %>
                    <div class="row history-product mx-auto">
                        <div class="col-md-3 my-auto">
                            <img src="<%= order.products[i].images.small %>" alt="product-img">
                        </div>
                        <div class="col-md-6 my-auto">
                            <h4>
                                <%= order.products[i].name %>
                            </h4>
                        </div>
                        <div class="col-md-3 my-auto">
                            <h5>
                                <% let price = order.products[i].price; %>
                                    <% let amount = order.productAmounts[i]; %>

                                        ( $
                                        <%= price %> x
                                            <%= amount %> ) = $
                                                <%= (price * amount) %>
                            </h5>
                        </div>
                    </div>
                    <% } %>
                        <div class="row total mx-auto justify-content-between">
                            <div class="col-md-2 my-auto">
                                <h5>
                                    <%= order.products.length %> PRODUCT
                                </h5>
                            </div>
                            <div class="col-md-2 my-auto">
                                <h5>
                                    TOTAL: $
                                    <%= order.total %>
                                </h5>
                            </div>
                        </div>
            </div>
            <% }) %>
    </div>
</div>
</div>